/* Global CSS b/c Kevin sucks! */

body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	background-color: #444444;
	color: white;
	letter-spacing: 0.4em;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.container {
	padding-top: 20px;
}

h1 {
	font-family: 'Alfa Slab One', Helvetica, Arial, sans-serif;
	text-align: center;
	line-height: 150%;
	letter-spacing: 0.05em;
}

h2 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

h3 {
	text-align: center;
}

input[type="submit"].button-primary {
	background-color: #0D3F34;
	transition: 500ms;
	-webkit-transition: 500ms;
	border-color: #ffffff;
	cursor: pointer;
}

input[type="submit"].button-primary:hover {
	background-color: #30685B;
	border-color: #f1f1f1;
	cursor: pointer;
}

input[type="submit"].button-primary:focus {
	background-color: #194e3d;
	transition: 500ms;
	-webkit-transition: 500ms;
	border-color: #ffffff;
	cursor: pointer;
}

/* Landing Page CSS */

.splashTagline {
	font-size: 1.5em;
	max-width: 70%;
	line-height: 150%;
	letter-spacing: 0.2em;
}

#zipCodeForm {
	max-width: 499px;
	margin-left: auto;
	margin-right: auto;
}

#zip_code_box {
	font-size: 2.9em;
	height: 100%;
	width: 100%;
	font-family: 'Alfa Slab One', Helvetica, Arial, sans-serif;
	letter-spacing: 0.3em;
	text-align: center;

}

#zip_submit_button {
	width: 100%;
	font-size: 1em;
	height: 80px;
}

/* Text overlays on chart  */
#accuracy_label {
	position: absolute;
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: 37%;
	margin-right: 30%;
	width: 10%;
	margin-top: 40%;
	z-index: 1;
	text-align: center;
	vertical-align: middle;
	font-size: 4.2em;
	font-family: 'Alfa Slab One', Helvetica, Arial, sans-serif;;
}

g text {
	
	display: visible;
	overflow: visible;
	font-size: 1.7em;
	letter-spacing: 0.01em;

}

g {
	overflow: visible;
}

div.google-visualization-tooltip { 
	pointer-events: none;
	line-height: 1.4em;
		 }

/* Results Page CSS */

.groundhogImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: solid 10px #8b0000;
	border-radius: 50%;
	}

#location_name_div {
		display: inline;
	}

#location_phrase_div {
	text-align: center;
}

#chart_wrap {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
    margin-top: 10%;
}
#chart_div {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}

#chart_div {
	letter-spacing: 0.1em;
}
